/*Header*/
body{
	background-color: #EAEAEA;
	color: #222;
	font-family: Arial, sans-serif;
}
strong, h3, button, .video_info a, a.more, a.reply, h4{
	font-weight: bold;
}
body p, h3, .video_info a, #subscribe, .comments a, h4{
	font-size: 13px;
}

header, footer, section, aside{
	background-color: #fff;
}
header, .about p, ul, li.first, .details{
	border-bottom: solid 1px #D3D3D3;
}
.left, .right, form, .google, .subscribers, .video_actions a, 
.comment img, .description, .description h3, h4, .more_info h3
{
	display: inline;
}
header{
	width: 100%;
	min-width: 1100px;
	padding: 10px 25px;
	position: fixed;
	top: 0;
}

footer{
	padding: 14px 40px 25px 30px;
	width: 100%;
	border-top: solid 1px #D3D3D3;
	clear: both;
}

.left, form, .video, #user_profile, .main_info, .comment img,
.next h3{
	float: left;
}
.left img, #subscribe, .subscribers, .video_actions img, 
.comments button img{
	vertical-align: middle;
}
form{
	margin-left: 80px;
}
input, .google, .google button,.details button{
	vertical-align: top;
}
input{
	font-size: 18px;
	min-width: 590px;
	line-height: 25px;
	border:solid 1px #ddd;
	box-shadow: inset 0 1px 1px #ddd;
	margin: 0;
}
button, .subscribers{
	background-color: #f8f8f8;
	border: solid 1px #ddd;

}
button{
	margin-left: -7px;
	height: 29px;
	width: 65px;
	border-radius: 2px;
}

button:hover{
	background-color: #eee;
	border-color: #ccc;
}
.google, .likes, .right, .description, aside, .next h4,
.next img{
	float: right;
}
.google{
	margin-right: 20px;
}

.google img{
	margin: 0 0	0 15px;

}
#profile{
	border-radius: 100%;
	margin-right: 40px;
}

/*Main Video */
main{
	margin: 40px auto;
	width: 1070px;
}

.video{
	padding-top:10px;
}

iframe, section, #subscribe, li{
	margin-top: 10px;
}

section{
	overflow: hidden;
	padding: 20px 10px 10px 15px;
	width: 615px;
}
h1{
	margin-bottom: 13px; 
}
#user_profile, .video_actions a, a.reply, .next h4{
	margin-right: 10px
}

.video_info a, .video_actions a:hover, a.more, .comments a, 
.more_info a, .next_description, .terms a{
	text-decoration: none;
}
.video_info a:hover, .comments a:hover, a.time:hover,
.more_info a:hover, .terms a:hover{
	text-decoration: underline;
}
.main-info, .main_info, .main_info h3, ul, li.first, .details{
	padding-bottom: 10px;
}
.main_info{
	border-bottom: solid 1px #ddd;
	width: 80%;
}
#subscribe{
	background-color: #E62117;
	color: #fff;
	padding: 5px;
}
.description h3, #subscribe img{
	vertical-align: text-bottom;
}
#subscribe img{
	padding-right: 5px;
}
.subscribers, .video_actions a, a.more, a.time, a.reply, 
.next_description p, .details button{
	font-size: 11px;
}
#subscribe:hover{
	background-color: #CB4437
}
.subscribers, a.more, .comments a, h4, .next_description p{
	color: #777;
}
.subscribers {
	padding: 5.5px;
	height: 22px;
	margin-left: -7px;
}
.likes {
	width: 20%;
	padding: 11px 0 5px 0;
	border-bottom: solid 3px #167AC6;
	text-align: right;
}
.likes p, a.reply:hover{
	color: #666;

}
.likes p {
	font-size: 19px;
	padding-top:15px;
}
.video_info	footer, .comments button img, .comment{
	padding: 0;	
}
.video_info footer{
	border-top: none;
}
.video_actions a{
	color: #888;
	vertical-align:middle;
}
.video_actions img{
	margin-right: 6px;
}
.about p{
	padding: 3px 0 20px 0;
	line-height: 1.4;
}
a.more, .comments a{
	text-transform: uppercase;

}
a.more{
	padding-top: 8px;
	display: block;
	text-align: center;
}
a.more:hover{
	color: #222;
}
.comments{
	padding-bottom: 200px;
}
.comments img{
	padding-top: 15px;
	height: 50px;
}
.comments button{
	width: auto;
	margin: 10px 0 0 0;
}

.comments button img{
	width: 20px;
	height: 20px;
}

.comment img{
	padding: 8px 7px 0 0;
}
.description{
	width: 525px;
	padding: 0 30px 0 0;
}
.description h3{
	margin-top: 0;
}
.description a{
	text-transform: none;
	color: #2793e6;
}
.description a:hover{
	text-decoration:none; 
}
a.time{
	color: #999;
}
.comment{
	line-height: 1.2;
}
a.reply{
	color: #999;
}
.description img{
	float: none;
	height: 12px;
	padding: 10px 5px 0 0;
}
aside{
	margin: 20px 0 100px 0;
	width: 391px;
	overflow: hidden;
	padding: 20px 15px 10px 15px;
}
.next{
	overflow: hidden;
}

li img{
	height: 70px;
	width: 120px;
	object-fit: cover;
}
li h3:hover{
	color:#167AC6;
}
.next_description{
	width: 263px;
	float:right;
	line-height: 1.3;
}
.details{
	margin-bottom: 10px;
}
.details button{
	margin: 0 10px;
	width: auto;
	font-weight: normal;
}
.more_info a{
	padding: 0 5px;
}
.more_info a:hover, .terms a:hover{
	color: #167AC6;
}
